<!--Topside-->
    <div class="container">
        <div class = "row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href ="{%url 'dashboard-staff' %}">
                                    <div class="card text-center p-3">
                                        <h4> Staff</h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href ="{%url 'dashboard-product' %}">
                                    <div class="card text-center p-3">
                                        <h4> Product </h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href ="{%url 'dashboard-rack' %}">
                                    <div class="card text-center p-3">
                                        <h4> Rack </h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--End Topside-->